- **add**
- **clear**
- **copy**
- **difference**
- **difference_update**
- **discard**
- **intersection**
- **intersection_update**
- **isdisjoint**
- **issubset**
- **issuperset**
- **pop**
- **remove**
- **symmetric_difference**
- **symmetric_difference_update**
- **union**
- **update**

- **add**\
Küme içine eleman ekler. Eleman kümede varsa eklemez.

In [9]:
set1 = {"a","b","c"}

set1.add("a")
print(set1)
set1.add("d")
print(set1)

{'b', 'c', 'a'}
{'d', 'b', 'c', 'a'}

- **clear**\
Sözlükteki bütün elemanları siler. Boş küme için set() sonucunu döndürür.

In [3]:
set1 = {"a","b","c"}

set1.clear()
set1

set()

- **copy**\
Sözlüğün bir kopyasını oluşturur.

In [4]:
set1 = {"a","b","c"}

x = set1.copy()
print(x)

{'a', 'c', 'b'}

- **difference**\
Bir kümede olan diğer kümede olmayan elemanları gösterir.\
Sonuç boş küme ise set() sonucunu döndürür.

In [7]:
set1 = {"a","b","c","d"}
set2 = {"e","f","a","g","c"}

set2.difference(set2)

set()

- **difference_update**\
Her iki kümede ortak olan elemanları kümeden kaldırır.

In [9]:
set1 = {"a","b","c","d"}
set2 = {"e","f","a","g","c"}

set2.difference_update(set1)
set2

{'e', 'f', 'g'}

- **discard**
    - Kümeden bir elemanı kaldırır.
    - Eleman kümede yoksa hata sonucu döndürmez.

In [14]:
set1 = {"a","b","c","d"}

set1.discard("f")
set1

{'a', 'b', 'c', 'd'}

- **intersection**
    - İki kümede ortak olan elemanları küme olarak gösterir.

In [19]:
set1 = {"a","b","c","d"}
set2 = {"e","f","a","g","c"}

set1.intersection(set2)

{'a', 'c'}

- **intersection_update**
    * Kümelerdeki ortak olmayan elemanları kümeden kaldırır.
    * Sadece ortak olan elemanları bir küme olarak gösterir.
    * Aynı anda birden fazla küme karşılaştırılabilir.

In [35]:
set1 = {"a","b","c","d"}
set2 = {"e","f","a","c"}
set3 = {"g","a","c","h"}

set1.intersection_update(set2,set3)
set1

{'a', 'c'}

- **isdisjoint**
- - Her iki kümede de ortak eleman yoksa True\
 ortak eleman bulunuyorsa False sonucunu döndürür.

In [6]:
set1 = {"a","b","c"}
set2 = {"e","f","d"}

set1.isdisjoint(set2)

True

- **issubset**
    - Bir kümenin bütün elemanları diğer kümenin de elemanı ise True\
değilse False sonucunu döndürür.

In [11]:
set1 = {"a","b","c"}
set2 = {"e","f","d","a","b","c"}

set1.issubset(set2)

True

- **issuperset**
    - Bir küme, diğer kümenin tüm elemanlarını içeriyorsa True,\
    değilse False sonucunu döndürür.

In [15]:
set1 = {"a","e","b","f","d"}
set2 = {"a","b","c"}

set1.issuperset(set2)

False

- **pop**
    - Kümeden rastgele bir elemanı kaldırır.

In [24]:
set1 = {"a","e","b","f","d"}

k = set1.pop()
print(k)
print(set1)

f
{'a', 'd', 'e', 'b'}

- **remove**
    - Belirtilen elemanı kümeden kaldırır.
    Eleman kümede yoksa bir hata döndürür.

In [31]:
set1 = {"a","e","b","f","d"}

set1.remove("bh")
print(set1)

KeyError: 'bh'

- **symmetric_difference**
    - Her iki kümede ortak olarak bulunmayan\
    elemanlardan oluşan bir küme döndürür.

In [35]:
set1 = {"a","b","c"}
set2 = {"e","f","d","a","b"}

set3 =  set1.symmetric_difference(set2)
set3

{'c', 'd', 'e', 'f'}

- **symmetric_difference_update**
    - Her iki kümede ortak bulunan elemanları kaldırır ve\
    ortak olmayan elemanları orijinal kümede birleştirip orijinal kümeyi günceller.

In [3]:
set1 = {"a","b","c"}
set2 = {"e","f","d","a","b"}

print(set1)
set1.symmetric_difference_update(set2)
print(set1)

{'b', 'a', 'c'}
{'d', 'e', 'f', 'c'}

- **union**
    - Ortak olan elemanlardan birer tanesini alarak\
    kümelerdeki tüm elemanları yeni bir kümede birleştirir.\
    Liste, küme, tupl gibi yinelenebilir bir yapıyı parametre olarak alabilir.

In [21]:
set1 = {"a", "b", "c"}
set2 = {"c", "a", "d","e"}
list1 = ["a", "d", "f","g","h","x","y","x"]

set4 = set1.union(set2,list1)
set4

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'x', 'y'}

- **update**
    - Başka bir kümenin ya da liste, tupl gibi yinelenebilir bir yapının elemanlarını\
    kümeye ekler ve kümeyi günceller. Ortak olan elemanların birer tanesini ekler.

In [7]:
set1 = {"a", "b", "c"}
set2 = {"c", "a", "d","e"}
list1 = ["a", "d", "f","g","h","x","y","x"]

set1.update(list1,set2)
set1

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'x', 'y'}